html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
}

    header{
        width: 100%;
        height: 10%;
        background-color: blueviolet;
        border: 4px solid black;
    }
     
    .icone_nome{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .icone{
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
    main{
        width: 100%;
        height: 80%;
        background-color: rgb(226, 43, 43);  
        border: 4px solid black;
    }

    footer{
        width: 100%;
        height: 10%;
        background-color: rgb(43, 226, 73); 
        border: 4px solid black;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .esquerda{
        float: left;
        width: 20%;
        height: 100%;
        background-color: chartreuse;
        display: block; 
        place-items: center;
    }
    
    .bloco1, .bloco4 {
        width: 50%;
        height: 30%;
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
        border: 4px solid black;
        text-align: center;
    }

    .bloco2, .bloco3, .bloco5, .bloco6 {
        width: 50%;
        height: 30%;
        background-color: rgb(255, 255, 255);
        margin-top: 10px;
        border: 4px solid black;
        text-align: center;
    }

    .centro{
        width: 60%;
        height: 100%;
        background-color: rgb(234, 0, 255);
        float: left;
        justify-content: center;
        align-items: center;
        display: block; 
        place-items: center;
        
    }

    .font_centro{
     margin-top: 5%;
     font-size: 30px;
    }
    
    .avatar{
        width: 500px;
        height: 500px;
        border: 4px solid black;
        background-color: rgb(255, 255, 255); 
    }

    .direita{
        float: right;
        width: 20%;
        height: 100%;
        background-color: chartreuse;
        display: block; 
        place-items: center;
    }

    .redes{
        width: 10%;
        height: 50%;
        display: flex;
        place-items: center;
        
    }
    
    .email{
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }
   
    .instagram{
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }

    .linkedin{
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }

    .whatsapp{
        width: 40px;
        height: 40px;
        margin-left: 15px;
        
    }

    .github{
        width: 40px;
        height: 40px;
        margin-left: 15px;
        
    }
    
    .email:hover, .instagram:hover, .linkedin:hover, .whatsapp:hover, .github:hover{
        transform: scale(1.1);
    }

    

